.tabBtn {
    background: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.tabBtnActive {
    color: var(--text-white);
    background: var(--color-primary);
}

.tabBtnActive:hover {
    color: var(--text-white);
    background: var(--color-primary);
}