SERVER_HOST=0.0.0.0
SERVER_PORT=9501
APP_ENV=development
APP_DEBUG=true

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=app_db
DB_USER=app_user
DB_PASSWORD=app_password


VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=